# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment
.env
venv/
env/
*.egg-info/
*.log

# IDEs and editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Render build artifacts (if any)
render-build/
